@tailwind base;
@tailwind components;
@tailwind utilities;

/* 字體 */
@font-face {
  font-family: "SYSCC-Ming";
  src: url("https://ehis.kfsyscc.org/FilesServer/fonts/syscc_emp_v2_ming.woff2")
      format("woff2"),
    url("https://ehis.kfsyscc.org/FilesServer/fonts/syscc_emp_v2_ming.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SYSCC-Kai";
  src: url("https://ehis.kfsyscc.org/FilesServer/fonts/syscc_emp_v2_kai.woff2")
      format("woff2"),
    url("https://ehis.kfsyscc.org/FilesServer/fonts/syscc_emp_v2_kai.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    /* 字體變數 */
    --font-family-primary: "Microsoft JhengHei", "SYSCC-Ming", "PingFang TC",
      sans-serif;
    --font-family-secondary: "Microsoft JhengHei", "SYSCC-Kai", "PingFang TC",
      sans-serif;
  }
}
